body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(./img/fondo-blanco-simple-lineas-suaves-colores-claros_476363-5857.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  button, input, label {
    margin-bottom: 10px;
  }

  #miFormulario {
    max-width: 300px;
    margin-bottom: 20px;
  }

  #miTabla {
    border-collapse: collapse;
    width: 100%;
  }

  #miTabla th, #miTabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #miTabla th {
    background-color: #f2f2f2;
  }